{% extends "layout.html" %}
{% block content %}
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Resultados del Análisis</h5>
        {% if result and result|length > 0 %}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Par</th>
                        <th>Fecha y Hora</th>
                        {% for key in result[0].keys() if key not in ['pair', 'timestamp'] %}
                            <th>{{ key }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for res in result %}
                        <tr>
                            <td>{{ res.pair }}</td>
                            <td>{{ res.timestamp }}</td>
                            {% for key, value in res.items() if key not in ['pair', 'timestamp'] %}
                                <td>{{ value }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No se encontraron resultados de análisis.</p>
        {% endif %}
    </div>
</div>
{% endblock %}
